ENV="staging"
BOT_TOKEN="your-bot-token"
DATABASE_URL= #"postgres://pen_bot:pen_bot_password@postgres:5432/pen_bot?sslmode=disable"
DB_NAME="pen_bot"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="pen_bot"
DB_PASSWORD="pen_bot_password"
DB_BOT_INSTANCE_ID="pen-bot-1"
DB_MAX_OPEN_CONNS="16"
DB_MAX_IDLE_CONNS="4"
DB_CONN_MAX_LIFETIME="30m"
DB_CACHE_CLEANUP_INTERVAL="15m"
POSTGRES_PASSWORD="pen_bot_password"
